<section class="fr-section">
    <h2 class="fr-h2">Localisation</h2>
    <p>Carte de la forêt : <%= query.forestName %></p>
    <div class="fr-placeholder fr-placeholder--lg">[Carte de localisation]</div>
</section>
